.btn-group button {
    background-color: #236477;
    border: 2px solid white;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: right;
    width: 33.3333%;
    font-family: 'Nixie One'; cursive;
    font-weight: bold;
    font-size: 15px;
}

.btn-group:after {
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button:hover {
    background-color: #2c798f;
}


body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Nixie One', cursive;
  font-weight: bold;
  font-size: 25.85px;
  line-height: 1.7;
}

#title {
  font-family: 'Nixie One', cursive;
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 40px;
  line-height: 0.75;
  background-color: #cfdfda;

}


#subtitle {
  font-family: 'Sacramento', cursive;
  font-size: 45px;
  text-align: center;
  font-weight: lighter;
  line-height: 1.5;
  background-color: #cfdfda;
  padding-bottom: 20px;

}

#columntitles {
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
}
